In [71]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import Ridge
from scipy.sparse import hstack
train = pd.read_csv('C:/Users/bodak/Desktop/_df0abf627c1cd98b7332b285875e7fe9_salary-train.csv')
test = pd.read_csv('C:/Users/bodak/Desktop/_d0f655638f1d87a0bdeb3bad26099ecd_salary-test-mini.csv')

In [72]:
train.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000
3,A great local marketleader is seeking a perman...,Dereham,permanent,22500
4,Registered Nurse / RGN Nursing Home for Young...,Sutton Coldfield,NaN,20355

In [73]:
train['FullDescription']=train.FullDescription.str.lower()

In [74]:
train['FullDescription'] = train['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)
train['LocationNormalized'].fillna('nan', inplace=True)
train['ContractTime'].fillna('nan', inplace=True)

In [75]:
train.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,international sales manager london k ...,London,permanent,33000
1,an ideal opportunity for an individual that ha...,London,permanent,50000
2,online content and brand manager luxury reta...,South East London,permanent,40000
3,a great local marketleader is seeking a perman...,Dereham,permanent,22500
4,registered nurse rgn nursing home for young...,Sutton Coldfield,nan,20355

In [76]:
vectorizer = TfidfVectorizer(min_df=5)

X_train_vec = vectorizer.fit_transform(train['FullDescription'])

X_test_vec = vectorizer.transform(test['FullDescription'])

In [77]:
enc = DictVectorizer()

X_train_categ = enc.fit_transform(train[['LocationNormalized', 'ContractTime']].to_dict('records'))

X_test_categ = enc.transform(test[['LocationNormalized', 'ContractTime']].to_dict('records'))

In [78]:
X_for_train = hstack([X_train_vec, X_train_categ])

X_for_test = hstack([X_test_vec, X_test_categ])

In [79]:
y_train=np.array(train.iloc[:,3])

In [84]:
y_test=np.array(test.iloc[:,3])

In [81]:
rng = Ridge(alpha=1.0,random_state=241)
rng.fit(X_for_train, y_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=241, solver='auto', tol=0.001)

In [93]:
pred = rng.predict(X_for_test)

In [94]:
pred

array([56564.07193432, 37142.47831844])