In [51]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import precision_recall_curve
classif = pd.read_csv('C:/Users/bodak/Desktop/_8b9c6d9ae39e206610c6fd96894615a5_classification.csv')
score = pd.read_csv('C:/Users/bodak/Desktop/_eee1b9e8188f61bc35d954fbeb94e325_scores.csv')

In [12]:
classif.head(10)

   true  pred
0     1     0
1     1     1
2     1     1
3     0     0
4     1     1
5     1     1
6     1     1
7     0     1
8     0     0
9     0     1

In [14]:
true=np.array(classif.iloc[:,0])
pred=np.array(classif.iloc[:,1])

In [68]:
j=0
tp=0
tn=0
fp=0
fn=0
for i in range(len(true)):
    if true[i]==pred[j] and true[i]==1:
        tp+=1
    if true[i]==pred[j] and true[i]==0:
        tn+=1
    if true[i]!=pred[j] and pred[i]==1:
        fp+=1
    if true[i]!=pred[j] and pred[i]==0:
        fn+=1
    j+=1
print( tp, fp, fn, tn)

43 34 59 64

In [26]:
accuracy_score(true, pred)

0.535

In [28]:
precision_score(true, pred)

0.5584415584415584

In [30]:
recall_score(true, pred)

0.4215686274509804

In [32]:
f1_score(true, pred)

0.48044692737430167

In [37]:
score.head()

   true  score_logreg  score_svm  score_knn  score_tree
0     0      0.683832   0.145976   0.787063    0.500000
1     1      0.801966   0.239511   1.000000    0.833333
2     0      0.382315  -0.245701   0.000000    0.000000
3     1      0.506797  -0.137058   0.000000    0.105263
4     1      0.488781  -0.154148   0.000000    0.105263

In [69]:
roc_auc_score(score.iloc[:,0], score.iloc[:,1])

0.719187675070028

In [70]:
roc_auc_score(score.iloc[:,0], score.iloc[:,2])

0.7086834733893557

In [71]:
roc_auc_score(score.iloc[:,0], score.iloc[:,3])

0.6351540616246498

In [72]:
roc_auc_score(score.iloc[:,0], score.iloc[:,4])

0.6919267707082833

In [79]:
precision, recall, thresholds = precision_recall_curve(score.iloc[:,0], score.iloc[:,4])

In [80]:
imax=0
j=0
for i in range(len(precision)):
    if recall[j]>0.7 and precision[i]>imax:
        imax=precision[i]
    j+=1
print(imax)

0.6517857142857143

In [60]:
len(precision)

200

In [ ]:
0.6302521008403361
0.6228070175438597
0.6065573770491803
0.6517857142857143