In [38]:
import pandas as pd
import numpy as np
data = pd.read_csv('C:/Users/bodak/Desktop/_ea07570741a3ec966e284208f588e50e_titanic.csv')

In [39]:
data1=data.drop(['Cabin','Embarked'], axis=1).dropna()
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 10 columns):
PassengerId    714 non-null int64
Survived       714 non-null int64
Pclass         714 non-null int64
Name           714 non-null object
Sex            714 non-null object
Age            714 non-null float64
SibSp          714 non-null int64
Parch          714 non-null int64
Ticket         714 non-null object
Fare           714 non-null float64
dtypes: float64(2), int64(5), object(3)
memory usage: 61.4+ KB

In [40]:
dataset=data.drop(['PassengerId','Survived','Name','SibSp','Parch','Ticket','Cabin','Embarked'], axis=1)

In [41]:
dataset.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [42]:
dataset['Sex'] = dataset['Sex'].map( {'female': 1, 'male': 0} ).astype(int)

In [43]:
dataset.head()

   Pclass  Sex   Age     Fare
0       3    0  22.0   7.2500
1       1    1  38.0  71.2833
2       3    1  26.0   7.9250
3       1    1  35.0  53.1000
4       3    0  35.0   8.0500

In [49]:
y=data1['Survived']

In [45]:
datasetna=dataset.dropna()
datasetna.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 4 columns):
Pclass    714 non-null int64
Sex       714 non-null int32
Age       714 non-null float64
Fare      714 non-null float64
dtypes: float64(2), int32(1), int64(1)
memory usage: 25.1 KB

In [46]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=241)
clf.fit(datasetna, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=241, splitter='best')

In [47]:
importances = clf.feature_importances_

In [48]:
importances

array([0.14751816, 0.30051221, 0.25124241, 0.30072722])